<mat-dialog-content>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p class="title">{{info.title}}</p>
        <p class="price">{{dish.price * info.servings | currency: '₴'}}</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-panel-description>
      <ng-template matExpansionPanelContent>
        <div class="des">
          <img src="{{info.img}}" alt="" height="80" loading="lazy">
          <div class="chips">
              <span *ngFor="let topic of info.topics" class="chip">
              {{topic}}
            </span>
          </div>
          <p>{{info.des}}</p>
          <p>
            <span class="time">{{info.duration}} </span>хв
            <mat-icon>schedule</mat-icon>
          </p>
          <p class="additional">для 3х порцій*</p>
        </div>
      </ng-template>
    </mat-panel-description>
    <mat-action-row>
      <button mat-raised-button color="primary">Детальніше</button>
      <button mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-card>
    <mat-card-header>

      <mat-card-title-group>
        <mat-card-title>
          {{info.title}}

        </mat-card-title>
        <img class="img" src="{{info.img}}" alt="">
        <div class="servings">
          <h2>Порцій:</h2>
          <mat-form-field appearance="outline" subscriptSizing="fixed">
            <input matInput type="number">
            <button matSuffix mat-icon-button>
              <mat-icon>add</mat-icon>
            </button>
            <button matPrefix mat-icon-button>
              <mat-icon>remove</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <mat-divider></mat-divider>


      </mat-card-title-group>


    </mat-card-header>
    <mat-card-content>
      <mat-list-item>
        <mat-icon matListItemIcon color="primary">money</mat-icon>
        <div class="ingredient"><span
          class="price">{{ dish.price * info.servings | currency: "₴"}}</span>
        </div>
      </mat-list-item>
      <mat-list>
        <mat-list-item *ngFor="let ingredient of ingredients">
          <mat-icon matListItemIcon color="primary">horizontal_rule</mat-icon>

          <div class="ingredient">{{ingredient.name}}:
            <span class="highlight">{{+ingredient.quantity * info.servings}} {{ingredient.unit}}</span>
          </div>

        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>

      <mat-vertical-stepper>
        <ng-template matStepperIcon="edit" let-index="index">
          {{index + 1}}
        </ng-template>
        <mat-step *ngFor="let step of steps" label="{{step.title}}" completed="false">
          <ng-template matStepContent>
            <p>{{step.description}}</p>
            <button mat-button matStepperNext color="primary">Далі</button>
          </ng-template>
        </mat-step>
      </mat-vertical-stepper>

    </mat-card-content>
    <mat-action-row>
      <button color="primary" mat-flat-button>Додати в список</button>
      <button color="warn" mat-flat-button>Видалити зі списку</button>
    </mat-action-row>
  </mat-card>

<mat-dialog-actions>
  <button mat-flat-button (click)="postDish()">Додати</button>
  <button mat-flat-button>Закрити</button>
</mat-dialog-actions>
</mat-dialog-content>
