<mat-dialog-content>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p class="title">{{info.title}}</p>
        <p class="price">{{dish.price * info.servings | currency: '₴'}}</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-panel-description>
      <ng-template matExpansionPanelContent>
        <div class="des">
          <img src="{{info.img}}" alt="" height="80" loading="lazy">
          <div class="chips">
              <span *ngFor="let topic of info.topics" class="chip">
              {{topic}}
            </span>
          </div>
          <p>{{info.des}}</p>
          <p>
            <span class="time">{{info.duration}} </span>хв
            <mat-icon>schedule</mat-icon>
          </p>
          <p class="additional">для 3х порцій*</p>
        </div>
      </ng-template>
    </mat-panel-description>
    <mat-action-row>
      <button mat-raised-button color="primary">Детальніше</button>
      <button mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-dialog-content>
