<div class="add-step">
  <button (click)="addStep()" mat-flat-button class="add-step">Додати розділ</button>
</div>
<mat-accordion cdkDropList (cdkDropListDropped)="drop($event)">
    <mat-expansion-panel *ngFor="let step of steps; let i=index" cdkDrag>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{step.title}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description>
        <p>
          {{step.description}}
        </p>

      </mat-panel-description>
      <mat-action-row>
        <button mat-flat-button color="warn" (click)="delete(step.description)">Видалити</button>
      </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>

