.view{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
app-dish-brief {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
mat-action-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
