
<div class="view"
     infinite-scroll
     [infiniteScrollDistance]="0.5"
     [infiniteScrollThrottle]="150"
     [scrollWindow]="false"
     (scrolled)="test2()"
     (scroll)="test($event)">

  <app-search (search)="search($event, 0)" (height)="test3($event)" [ngStyle]="s"></app-search>
  <div class="test" [ngStyle]="padding">
    <ng-container *ngFor="let dish of dishes">
      <app-dish-brief [dish]="dish">
        <mat-action-row>
          <button mat-raised-button color="primary"
                  [routerLink]="['/dish']"
                  [queryParams]="{number: dish._id}">
            Детальніше
          </button>
          <button mat-icon-button>
            <mat-icon>add</mat-icon>
          </button>
        </mat-action-row>
      </app-dish-brief>
    </ng-container>
  </div>
  <button mat-raised-button color="primary" (click)="loadMore()" *ngIf="!hideBtn">Завантажити ще</button>
</div>
