<div class="view"
     infinite-scroll
     [infiniteScrollDistance]="0.5"
     [infiniteScrollThrottle]="150"
     [scrollWindow]="false"
     (scrolled)="loadMore()"
     (scroll)="slideHandle($event)">

  <app-search (search)="searchDishes($event, 0, true)"
              (height)="setSearchbarHeight($event)"
              [ngStyle]="positionConfigStyle"
  ></app-search>

  <div class="test" [ngStyle]="paddingStyle">
    <ng-container *ngFor="let dish of dishes">
      <app-dish-brief [dish]="dish">
        <mat-action-row>
          <button mat-raised-button color="primary"
                  [routerLink]="['/dish']"
                  [queryParams]="{number: dish._id}">
            Детальніше
          </button>
          <button mat-icon-button>
            <mat-icon>add</mat-icon>
          </button>
        </mat-action-row>
      </app-dish-brief>
    </ng-container>
  </div>
  <button mat-raised-button color="primary" (click)="loadMore()" *ngIf="!hideBtn">Завантажити ще</button>
</div>
