mat-form-field {
  padding-top: 3vh;
  width: 93vw;
  text-align: center;

}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  background: #ffffff;
}

.f-btn {
  background-color: #8cc8ff !important;
  color: #052713 !important;
}

.hidden {
  transform: translateY(-160px);
  transition: .3s;
}
