mat-form-field {
  width: 93vw;
  text-align: center;

}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  background: #ffffff;
  padding: 1vh 0;
  border-bottom: 1px solid #3f51b5;
}

.f-btn {
  background-color: #8cc8ff !important;
  color: #052713 !important;
}
